// Footer

footer

    position: fixed
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    z-index: 2

    bottom: 0

    width: 100%

    background-color: $bg

    @extend %padding

    // Responsive

    +screen($sXL)

        position: relative

        bottom: auto

        width: 100%

        margin-top: calc($globalSpace / 2)

    // Children

    ul

        display: flex
        justify-content: space-between
        flex-direction: column

        // Responsive

        +screen($sXL)

            flex-direction: row

            // Children

            li:last-of-type

                order: -1

        +screen($sXS)

            flex-direction: column

            // Children

            li:last-of-type

                order: 2

        // Children

        li:first-of-type

            margin-bottom: calc($globalSpace / 4)
