// Player

div.player

    position: relative
    display: flex
    align-items: center
    justify-content: space-between

    margin-bottom: $globalSpace / 4

    border: 2px solid $dark
    box-shadow: 0px 0px 0 $primary

    +padding($globalSpace / 2)
    +transition((opacity, box-shadow), (.1s, .1s))

    // Pseudo

    &:before

        margin-right: 20px

        font-size: $fontBase + 10px

        @extend %icon

    // States

    &:hover
        
        opacity: 1 !important

        box-shadow: 4px 4px 0 $primary

    // Children

    span

        // Classes

        &.name

            @extend %bold
            @extend %textUpper

    button

        padding: 0
        margin: 0

        font-size: $fontBase
        font-family: $fontMain

        background-color: transparent
        border: 0
        outline: 0
        
        cursor: pointer

        // Classes

        &.in

            color: $primary
            
            border-bottom: 2px dotted $primary

        &.out

            color: $tertiary

            border-bottom: 2px dotted $tertiary

    p
        
        width: 80%


        // Responsive

        +screen($sXL)

            width: 70%

        +screen($sMD)

            width: 100%

    div.teamLogos

        position: relative

        // Responsive

        +screen($sMD)

            display: none

        // Children

        span.blank, img

            // Class

            &.out

                margin-right: 10px

                opacity: .2

                +filter(grayscale, 1)

        span.blank

            display: inline-block
            position: relative
            z-index: 2

            width: 34px
            height: 40px

            text-align: center
            line-height: 32px
            font-weight: 700
            color: $light

            background-color: $primary
            border: 3px solid $dark
            border-radius: 0 0 20px 20px

        img

            position: relative
            z-index: 2
            
            width: auto
            height: 40px

            object-fit: contain